.university__image {
    border-style: initial;
    height: 250px;
    width: 300px;
    margin-left: 40px;
    overflow: hidden;
    border-radius: 20%;
    margin-bottom: 40px;

}

/* :root {
    --main-gap:0 20px;
} */

@media screen and (max-width: 767px) {
    .university__image {
        margin-left: -10px;
        margin-bottom: 20px;

    }

}

@media screen and (max-width: 1023px) {
    .university__image {
        margin-bottom: 50px;

    }

}